@keyframes false {
    0% {
        transform: translateX(-10px);
    }
    10% {
        transform: translateX(10px);
    }
    20% {
        transform: translateX(-10px);
    }
    30% {
        transform: translateX(10px);
    }
    40% {
        transform: translateX(-10px);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes true {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

* {
    box-sizing: border-box;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

body {
    margin: 0;
    color: white;
    min-height: 200vh;
}

.box {
    border: 6px solid white;
    transition: 1000ms;
    background: black;
    padding: 10px;
}
.box a {
    color: white;
    text-decoration: none;
    margin: 0 80px 0 80px;
}
.box a:hover {
    text-decoration: underline;
}
button:hover {
    cursor: pointer;
}

p {
    opacity: 0;
    width: 100%;
    transition: 500ms;
}

.p--visible--true {
    opacity: 1;
    color: yellowgreen;
    animation: true 400ms forwards;
}

.p--visible--false {
    opacity: 1;
    color: red;
    transform: rotate(3deg);
}

.question-click--true {
    border-radius: 150px;
    border: 6px dashed green;
}

.question-click--false {
    border-radius: 150px;
    border: 6px dashed red;
    animation: false 400ms forwards;
}

nav {
    position: fixed;
    background: black;
    width: 100%;
    height: 50px;
    top: -50px;
    transition: 500ms;
}
ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}
ul li {
    transition: 800ms;
}
ul li:hover {
    color: black;
    cursor: default;
}
input, select {
    margin: 0 20px 0 20px;
}
label {
    margin-left: -15px;
}

.calc {
    display: grid;
    width: 400px;
    margin: 100px auto;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50px repeat(5, 30px);
    grid-template-areas: 
    "result result result result"
    "9 8 7 reset"
    "6 5 4 reset"
    "3 2 1 reset"
    "0 dot plus minus"
    "equal equal times div";
    border: 3px solid black;
    border-radius: 4px;
}
.calc h3 {
    text-align: right;
    margin: 7px 10px 0 0;
    font-size: 2rem;
    color: black;
    grid-area: result;
}
.calc button {
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}
.calc button:hover {
    color: black;
    background-color: white;
}
#equal {
    grid-area: equal;
}
#clear {
    grid-area: reset;
}